

<div class="container">
  <p>Influencing the world, one election at a time.</h4>

  <p>Log In</p>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %> 
    <%= f.label :Username %>:
    <%= f.text_field :username %> <br>
    <%= f.label :password %>: 
    <%= f.password_field :password %> <br>
    <%= f.submit "Login", class: "btn btn-primary" %> 
    <% end %> 
    <%= link_to "Not a member? Register here!", new_donor_path %>
</div>
</div>
